
.heading{
    width: 100%;
    margin: 0;
    font-size: 20px;
}
.note{
    color: black;
    font-size: 15px;
}
.song_name{
    font-size: 20px;
}
canvas{
    background-color: #000000;
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #73cfd8;
}
body{
    background-image: url("music\ background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

div{
    background-color: black;
}

.heading{
    font-size: 30px;
    color: white;
}

.heading1{
    color: aqua;
    font-size: 20px;
}

.heading2{
    color: beige;
    font-size: 20px;
}

.songName{
    color: white;
    font-size: 17px;
}
